.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
}

/*position: absolute;
width: 977px;
height: 139px;
left: 351px;
top: -95px;

background: #18B2DE;
filter: blur(100px);*/