@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input {
  font-family: "Roboto", sans-serif;
}

:root {
--theme: #03071E;
--chocolate: #370617;
--rosewood: #6A040F;
--penn: #9D0208;
--engineering: #D00000;
--white: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--theme);
  color: var(--white);
}

